<mat-card>
  <div id="box-login">
    <h1><strong>RECIPE BOOK</strong></h1>
    <form [formGroup]="userForm" >
      <div class="example-container">
        <mat-form-field>
          <strong>
          <input matInput formControlName="email" [formGroup]="userForm" id="email"
                 placeholder="Email">
          </strong>
          <mat-error
            *ngIf="userForm.controls['email'].invalid &&
                  (userForm.controls['email'].dirty ||
                   userForm.controls['email'].touched)">{{ "Email is required" }}
          </mat-error>
        </mat-form-field>

        <mat-form-field color="white">
          <input matInput formControlName="password" [formGroup]="userForm" id="password" placeholder="Name"
                 placeholder="Password" type="password">
          <mat-error
            *ngIf="userForm.controls['password'].invalid &&
                  (userForm.controls['password'].dirty ||
                   userForm.controls['password'].touched)">{{ "Password is required" }}
          </mat-error>
        </mat-form-field>

        <mat-checkbox color="warn" value="true" formControlName="remember">Remember me</mat-checkbox><br>

        <button mat-raised-button class="submit" type="submit" disabled = "{{userForm.invalid}}" (click)="onSubmit()"><strong>ENTER</strong></button>
        <button mat-raised-button routerLink="/register" class="register"><strong>Register</strong></button>
      </div>
    </form>
  </div>
</mat-card>
