.bottomMargin {
  margin-bottom: 10px;
}

.delete-icon:hover {
  color: red;
}
h3 {
  font-weight: bold;
}

.add-icon {
  color: darkgreen;
}

.add-icon:hover {
  color: green
}

.remove-icon {
  color: darkred;
}

.remove-icon:hover {
  color: red;
}

mat-list-item {
  background-color: lightgrey;
  max-height: 60px !important;
}

mat-list-item:hover {
  background-color: darkgrey;
}

.pathitem{
  margin-bottom: 6px;
  border: silver thin solid;
  margin-top: 2px;
}

.pathitem:hover {
  font-weight: bold;
  box-shadow: 4px 4px 4px darkgray !important;
}

.button:hover{
  color: #6c8593;
  font-weight: bold;
  box-shadow: 4px 4px 4px darkgray !important;
}
